@charset "UTF-8";
/* base.css */

* {
    margin:0;
}
#Wrap {
    width:1900px;
    overflow:hidden;
}

header {
    width:100%;
    max-width:1900px;
    height:80px;
    line-height:80px;
    position:fixed;
    z-index:100;
    border-bottom:1px solid #eeeeee;
    font-weight:bold;
    background:white;
}
header>span {
    color:#ff69b4;
    font-size:15px;
    font-weight:bold;
    float:right;
    margin-right:140px;
}
header>span span {
    margin:15px;
}
#Logo {
    width:4.5%;
    margin-left:120px;
}