@charset "UTF-8";
/* common.css */


body::-webkit-scrollbar {display:none;}

* {margin:0 auto;}

#Wrap {
    width:1900px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
    }

#Wrap2 {
    margin:0 auto;
    width:1500px;
}