@charset "UTF-8";
/* header.css */

header {
    width:100%;
    max-width:1900px;
    height:85px;
    line-height:85px;
    position:fixed;
    z-index:100;
}
header>span {
    color:white;
    font-size:15px;
    font-weight:bold;
    float:right;
    margin-right:140px;
}
header a {
    color:white;
    text-decoration:none;
}
header>span span {
    margin:15px;
}
#whiteLogo {
    width:4.5%;
    margin-left:30px;
}