@charset "UTF-8";
/* login.css */

#Wrap2 {
    margin:0 auto;
    width:27%;
    /*background:green;*/
    height:950px;
    position:relative;
    margin-top:80px;
}

#MiniWrap2 {
    width:95%;
    height:80%;
    /*background:yellow;*/
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
}

#MiniWrap2 div {
    width:100%;
    height:50px;
    text-align:center;
    vertical-align:center;
    border:1px solid black;
    margin-top:20px;
}

#LoginTxt {
    font-weight:bold;
    font-size:25px;
}

#Login {
    margin-top:40px;
    width:100%;
}

.boxbox {
    width:100%;
    height:40px;
}

button[type='submit'] {
    width:100%;
    height:40px;
    background:#ff66aa;
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    border:none;
}

#MiniWrap2 img {
    width:15%;
}