{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:100px">
  <h2>리뷰 쓰기</h2>
  <form action="{% url 'community:review_create' %}" method="post">
    {% csrf_token %}

    <!-- 오류표시 Start -->
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <!-- 오류표시 End -->

    <div class="form-group">
        <label for="subject">제목</label>
        <!-- placeholder 속성 입력한 데이터가 없는 경우 배경으로 나타난다.실제적으로 입력을 100자까지로 지정 -->
        <!-- required 속성을 설정하면 필수입력 사항이된다. -->
        <!-- pattern 속성을 이용한 정규표현식으로 데이터의 유효성 검사를 할 수 있다. -->
        <input type="text" class="form-control" id="subject"
        placeholder="제목 입력(4-100)" name="subject"
        maxlength="100" required="required"
        pattern=".{4,100}">
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <!--  여러줄의 데이터를 입력하고 하고자 할때 textarea 태그를 사용한다. -->
        <!--  textarea 안에 있는 모든 글자는 그대로 나타난다. 공백문자, tag, enter -->
        <textarea class="form-control" rows="5" id="content"
        name="content" placeholder="내용 작성"></textarea>
    </div>
    <div class="form-group">
        <h5>만족도</h5>
        <table>
            <tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
            <tr>
                <td><input type="radio" class="form-control" name="star" value="1"></td>
                <td><input type="radio" class="form-control" name="star" value="2"></td>
                <td><input type="radio" class="form-control" name="star" value="3"></td>
                <td><input type="radio" class="form-control" name="star" value="4"></td>
                <td><input type="radio" class="form-control" name="star" value="5"></td>
            </tr>
        </table>
    </div>
    <button type="submit" style="background:#eeeeee" class="btn btn-default">리뷰 등록</button>
  </form>
</div>
{% include "community/review_list.html" %}
{% endblock %}

