 <div class="container" style="margin-top:100px">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if review_list %} <!-- question_list 에 내용이 있으면 -->
        {% for review in review_list %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td class="text-left">
                <a href="{% url 'community:detail' review.id %}">{{ review.subject }}</a>
                {% if review.comment_set.count > 0 %}
                <span class="text-danger small ml-2">{{ review.comment_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ review.author.username }}</td>
            <td>{{ review.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">리뷰가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>